* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif, Arial;
  color: black;
}

.container {
  width: 800px;
  margin: 0 auto;
}

article {
  border: 5px solid black;
}

header {
  text-align: center;
  background-color: #f7f7f7;
  text-transform: uppercase;
  padding: 15px;
}

.price-tag {
  font-size: 25px;
  font-weight: bold;
}

.type-ship, .product-details-title {
  font-size: 12px;
  text-transform: uppercase;
}

.type-ship {
  margin-bottom: 15px;
}
.product-details-title {
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 20px;
}

.description-product {
  margin-bottom: 10px;
}

/*LVHA*/

a {
  margin-bottom: 10px;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}

.caracterist-list {
  margin-left: 20px;
}

li {
  margin-bottom: 15px;
}

li:last-child {
  margin-bottom: 10px;
}

button {
  width: 100%;
  background-color: black;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px;
  border: 0;
  border-top: 5px solid black;
}

button:hover {
  background-color: white;
  color: black;
}
